h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  &[dark] {
    background: var(--default-background-color);
    color: #fff;
  }
}

html, body {
  margin: 10px;
}

.docs-container {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .spacing {
    height: 20px;
  }
}
