$colors: 'purple', 'green', 'red';

body {
  --border: #e3e5e8;

  --scrollbar-auto-track: #f2f2f2;
  --scrollbar-thin-thumb: rgba(79,84,92,0.3);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #ccc;
  --scrollbar-auto-scrollbar-color-thumb: #e3e5e8;
  --scrollbar-auto-scrollbar-color-track: #f2f3f5;

  --text_normal: #2e3338;
  --input_bg: #4f545c05;
  --input_border: #4f545c4d;

  --purple: #7289da;
  --purple__hovered: #677bc4;
  --purple__active: #5b6eae;
  --purple__outlined_bg: #7289da3f;

  --red: #f04747;
  --red__hovered: #d84040;
  --red__active: #c03939;
  --red__outlined_bg: #F047473f;

  --green: #43b581;
  --green__hovered: #40a377;
  --green__active: #3b926b;
  --green__outlined_bg: #43b5813f;

  &[dark] {
    --default-background-color: #36393f;
    --default-text-color: #fff;
    --text_normal: #fff;

    --scrollbar-thin-thumb: #202225;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #202225;
    --scrollbar-auto-track: #2e3338;
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;

    --border: #202225;
  }
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-auto-thumb);
  min-height: 40px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  margin-bottom: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-auto-track);
}


